.tree {
  width: fit-content;
}

.tree div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr auto;
  gap: 0.5rem;
  margin-top: 1rem;
  position: relative;
}

.tree span {
  grid-column: 1 / 3;
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: auto auto;
  cursor: pointer;
}

.tree span::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1.5rem;
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  background: linear-gradient(to bottom right, #0000 49%, #000 0 51%, #0000 0);
}

.tree :nth-child(3) > span::before {
  left: auto;
  right: 50%;
  background: linear-gradient(to bottom left, #0000 49%, #000 0 51%, #0000 0);
}

.tree > div > span::before {
  content: none;
}

.highlight {
  background-color: lightgreen;
}